<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width">
        <title>Add Record</title>
    </head>
    <body>
        <h3>Add new Mobile</h3>
        <form action="/AddData" method="POST">
            <label>Mobile ID : </label>
            <input type="text" placeholder="Enter mobile ID" name="M_ID"><br>

            <label>Mobile CAT : </label>
            <input type="text" placeholder="Enter mobile CAT" name="M_CAT"><br>

            <label>Mobile Name : </label>
            <input type="text" placeholder="Enter mobile Name" name="M_NAME"><br>

            <label>Mobile Storage : </label>
            <input type="number" placeholder="Enter mobile Storage" name="M_STORAGE"><br>

            <label>Mobile Stock : </label>
            <input type="number" placeholder="Enter mobile Stock" name="M_STOCK"><br>

            <label>Mobile Price : </label>
            <input type="number" placeholder="Enter mobile Price" name="M_PRICE"><br>

            <button type="submit">Submit</button>
        </form>

        <a href="/">Home Page</a>
    </body>
</html>