<html lang="en">
    <head>
        <title>Delete mobile</title>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width">
    </head>
    <body>
        <h3>Delete Mobile</h3>

        <form action="/delete" method="POST">
            <label>Mobile Id : </label>
            <input type="text" placeholder="Enter mobile ID" name="M_ID"><br>

            <button>Delete</button>

        </form>

        <a href="/">Home Page</a>
    </body>
</html>