<html lang="en">
    <head>
        <title>Update mobile</title>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width">
    </head>
    <body>
        <h3>Update Quantity</h3>

        <form action="/update" method="POST">
            <label>Mobile Id : </label>
            <input type="text" placeholder="Enter mobile ID" name="M_ID"><br>

            <label>New Mobile Stock : </label>
            <input type="number" placeholder="Enter mobile Stock" name="M_STOCK"><br>

            <button>Update</button>

        </form>

        <a href="/">Home Page</a>
    </body>
</html>